<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.xo.demo" >

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS"/>

    <uses-sdk android:minSdkVersion="14" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Sample code activities -->
        <!-- ================ Widget ================ -->
        <activity
            android:name=".widget.tabmenu.TabMenuActivity" 
            android:label="@string/label_tab_menu"
            android:exported="false" >
             <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>

        <activity
            android:name=".widget.rotation3d.Rotation3dActivity" 
            android:label="@string/label_rotation3d_button"
            android:exported="false" >
             <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>

        <activity
            android:name=".widget.viewflipper.ViewFlipperActivity" 
            android:label="@string/label_viewflipper"
            android:exported="false" >
             <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>

        <!-- ================ Sensor ================ -->
        <activity
            android:name=".sensor.flashlight.FlashLightActivity" 
            android:label="@string/label_flashlight"
            android:exported="false" >
             <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>

        <activity
            android:name=".sensor.location.TestLocationActivity" 
            android:label="@string/label_location"
            android:exported="false" >
             <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>

        <!-- ================ Hello World ================ -->
        <activity
            android:name=".helloworld.helloservice.HelloServiceActivity" 
            android:label="@string/label_aidl"
            android:configChanges="orientation|screenSize"
            android:exported="false" >
             <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>

        <activity
            android:name=".helloworld.hellogif.HelloGifActivity" 
            android:label="@string/label_gif"
            android:exported="false" >
             <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>

        <activity
            android:name=".helloworld.hellonfc.HelloNfcActivity" 
            android:label="@string/label_nfc"
            android:exported="false" >
             <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>

        <activity
            android:name=".helloworld.hellodeviceinfo.HelloDeviceInfoActivity" 
            android:label="@string/label_deviceinfo"
            android:taskAffinity="org.xo.demo.deviceinfo"
            android:launchMode="singleTop"
            android:exported="false" >
             <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>

        <activity
            android:name=".helloworld.helloparcel.HelloParcelableActivity" 
            android:label="@string/label_parcelable"
            android:exported="false" >
             <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>

        <activity
            android:name=".helloworld.helloparcel.AActivity" 
            android:exported="false" >
        </activity>

        <activity
            android:name=".helloworld.helloparcel.BActivity" 
            android:exported="false" >
        </activity>
        
        <service android:name=".helloworld.helloservice.local.LocalService"
            android:exported="false" > 
            <intent-filter> 
                <action android:name="org.xo.demo.helloworld.helloservice.local.LocalService" /> 
            </intent-filter>  
        </service>

        <service android:name=".helloworld.helloservice.remote.RemoteService"
            android:process=":remote"
            android:exported="false" > 
            <intent-filter> 
                <action android:name="org.xo.demo.helloworld.helloservice.remote.RemoteService" /> 
            </intent-filter>  
        </service>

    </application>

</manifest>